.Navbar {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%; /* Set the width to 100% */
}

.Title {
  font-size: 2rem; /* Increase the font size */
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px; /* Decrease the gap between menu items */
}

.menu li {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.menu li:hover {
  color: #61dafb;
}

/* Optional: Add styles for active link */
.menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem; /* Increase the font size */
}

.menu li a:hover {
  color: #61dafb;
}
